<div id="id05" class="modal">
  <span onclick="document.getElementById('task-form').innerHTML=''"
          class="close" title="Close Modal">&times;</span>
  <div class="modal-content animate">
    <div class="container">
      <%= render 'form', task: @task %>
      <%= button_to "削除する", @task, method: :delete, remote: true %>
    </div>
  </div>
</div>
