<html>
    <head>
        <meta charset="UTF-8">
        <link rel="icon" href="img/logo.ico">
        <link rel="stylesheet" type="text/css" href="style.css">
        <title>
            e-Assistant
        </title>
    </head>
    <body>
        <div class="navigation">
            <ul>
                <li><a href="top.html">Home</a></li>
                <li><a href="top.html">About Us</a></li>
                <li><a href="top.html">Contact</a></li>
            </ul>
        </div>
        <div class="top-background">
            <div class="welcome-message-container">
                <div class="welcome-message"><text><i>e-Assistant<br></i></text></div>
                <div class="welcome-submessage"><text><i>The easiest way to plan your day<br></i></text></div>
                <br><br><br>
                <a href="/home/login"><button-top type="submit">ログイン</button-top></a>
                <a href="/home/new"><button-top type="submit">新規登録</button-top></a>
            </div>
        </div>
    </body>
</html>
