<span onclick="document.getElementById('id02').style.display='none'"
class="close" title="Close Modal">&times;</span>
<div class="modal-content animate">
  <div class="container">
    <%= render 'form', event: @event %>
  </div>
</div>
