/*
*= require fullcalendar.min
*= require jquery-tablesorter/theme.green
*= require jquery-tablesorter/addons/pager/jquery.tablesorter.pager
*= require_tree .
*= require_self
*/

body, html {
  height: 100%;
  margin: 0;
  font: 100 16px/1.5 "Arial";
  background-repeat: no-repeat;
}

body {
  background: white;
}

.stripe {
  height: 100%;
  margin: 0;
  font: 100 16px/1.5 "Arial";
  background-repeat: no-repeat;
  background: repeating-linear-gradient(
    135deg,
    #b90000,
    #b90000 10px,
    #c42f2f 10px,
    #c42f2f 20px
  );
}

.white {
  background: white;
  height: 100%;
}

h1 {
  text-align: center;
}

.login-container {
  position: relative;
  margin: auto;
  background-color: white;
  width: 50%;
  min-width: 200px;
  height: 50%;
  text-align: center;
}

.title {
  text-align: center;
  font-size: 500%;
  font-weight: 300;

}
@media (max-width: 450px){
  .title {
    text-align: center;
    font-size: 300%;
    font-weight: 250;
  }
}

.subtitle {
  text-align: center;
  font-size: 200%;
  font-weight: 300;
  padding-bottom: 20px;
}

input[type=text], input[type=password] {
  width: 100%;
  height: 20px;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

button, input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 50%;
  max-width: 500px;
  min-width: 100px;
}

button:hover, input[type=submit]:hover {

}

button-top {
  background-color: black;
  color: white;
  border: none;
  cursor: pointer;
  width: 100%;
  transition: 0.5s;
}

button-top:hover {
  color:black;
}

/* Center the avatar image inside this container */
.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
}

/* Avatar image */
img.avatar {
  width: 40%;
  border-radius: 50%;
}

/* Add padding to containers */
.container {
  padding: 16px;
}

/* The "Forgot password" text */
span.psw {
  float: right;
  padding-top: 16px;
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
    display: block;
    float: none;
  }
  .cancelbtn {
    width: 100%;
  }
}

/*メッセージ用のcss*/
.flash {
  padding: 5px 0;
  color: blue;
  /*background: rgb(251, 170, 88);*/
  text-align: center;
  position: absolute;
  /*top: 30px;*/
  z-index: 10000;
  width: 100%;
  border-radius: 0 0 2px 2px;
  font-size: 20px;

}



/*追加分 3/12*/
.top-bar {
  text-align: center;
  position: fixed;
  z-index: 49;
  border-radius: 0 0 0 10px;
  max-width: 200px;
  width: 32%;
  right: 0;
  font-size: 16px;
  font-family: "Arial";
  font-weight: 300;
  background: black;
  padding: 3% 3% 3% 3%;
  color: white;
  cursor: pointer;
  transition: 0.5s;
}

.userID {
  position: relative;
  text-align: right;
  padding-right: 10%;
}

.circle {
  position: static;
  display: block;
  width: 50%;
  max-width: 200px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 20px;
  padding: 5px;
  border-radius: 50%;
  border: 5px solid white;
  background: black;
}

.square {
  border-radius: 10px;
  padding: 15px;
  left: 120px;
  background-color: whitesmoke;
  color: black;
  position: relative;
  width: 60%;
  font-size: 14px;
  text-align: justify;
}

.square:before {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  left: -30px;
  top: 10px;
  border-left: 15px solid;
  border-top: 10px solid;
  border-bottom: 10px solid;
  border-right: 15px solid;
  border-color: transparent whitesmoke transparent transparent;
}

.tooltip {
  display: block;
  position: relative;
  top: 135px;
  width: 10%;
  min-width: 100px;
  text-align: center;
  border: 5px solid black;
  background-color: black;
  border-radius: 0 0 10px 10px;
  margin-left: auto;
  margin-right: auto;
  z-index: 1000;
}

.tooltip a {
  text-decoration: none;
  color: white;
}

.tooltip:hover a {
  color: #b90000;
  font-weight: bold;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  top: 100%;
  left: 50%;
  margin-left: -60px;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  position: absolute;
  z-index: 1000;

}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

.tooltip .tooltiptext::after {
  content: " ";
  position: absolute;
  bottom: 100%;  /* At the top of the tooltip */
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent black transparent;
}


.main-container {
  position: relative;
  width: 90%;
  min-height: 90%;
  margin: auto;
  margin-bottom: 50px;
  top: 100px;
  padding: 5% 5% 0% 5%;
  background: white;
  border-top: 5px solid black;
}


.add-button {
  background-image: url("/img/button-add.png");
  position: inherit;
  background-repeat: no-repeat;
  background-size: cover;
  height: 50;
  width: 50;
  align-self: stretch;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1000; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.8); /* Black w/ opacity */
  padding-top: 60px;
  color: black;
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 5px auto; /* 15% from the top and centered */
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
  /* max-height: 80%; */
  z-index: 100;
  text-align: left;
}

.model-content container {
  max-height: 80%;
}
@media (max-width: 450px) {
  .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1000; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.8); /* Black w/ opacity */
    padding-top: 30px;
  }

}
/* The Close Button */
.close {
  /* Position it in the top right corner outside of the modal */
  position: absolute;
  right: 25px;
  top: 0;
  color: #b90000;
  font-size: 35px;
  font-weight: bold;
}

/* Close button on hover */
.close:hover,
.close:focus {
  color: red;
  cursor: pointer;
}

/* Add Zoom Animation */
.animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
  from {-webkit-transform: scale(0)}
  to {-webkit-transform: scale(1)}
}

@keyframes animatezoom {
  from {transform: scale(0)}
  to {transform: scale(1)}
}

/* Style the tab */
.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}

/* Style the buttons that are used to open the tab content */
.tab button {
  background-color: black;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border-top: none;
}

/*エラーメッセージ*/
.form-error{
  color: red;
  text-align: center;
}

.info-container {
  position: relative;
  width: 60%;
  margin: auto;
  text-align: left;
}

.submit-button {
  background: #b90000;
  background-image: -webkit-linear-gradient(top, #c42f2f, #b90000);
  background-image: -moz-linear-gradient(top, #c42f2f, #b90000);
  background-image: -ms-linear-gradient(top, #c42f2f, #b90000);
  background-image: -o-linear-gradient(top, #c42f2f, #b90000);
  background-image: linear-gradient(to bottom, #c42f2f, #b90000);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: Arial;
  color: #ffffff;
  font-size: 18px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  border: none;
  position: relative;
  display: block;
  margin: auto;
  width: 100%;
}

.submit-button:hover {
  background: #c42f2f;
  background-image: -webkit-linear-gradient(top, #b90000, #c42f2f);
  background-image: -moz-linear-gradient(top, #b90000, #c42f2f);
  background-image: -ms-linear-gradient(top, #b90000, #c42f2f);
  background-image: -o-linear-gradient(top, #b90000, #c42f2f);
  background-image: linear-gradient(to bottom, #b90000, #c42f2f);
  text-decoration: none;
}

.hidden {
  display: none;
}


table#tsk {
  width:100%;
  margin:0 0 3em;
  border-top:0px solid #ccc;
  border-spacing:0px;
}
table#tsk tr th, table#tsk tr td {
  text-align:center;
  font-size:12px;
  border-bottom:1px solid #ccc;
  border-right:1px solid #ccc;
  border-left:1px solid #ccc;
  padding: 3px
}

table#tsk th {
  color: white;
  font-weight: normal;
  background-color: black;
}

table#tsk a {
  text-decoration: none;
  color: #b90000;
}

table#tsk a:hover {
  text-decoration: underline;
  background-color: white;
}

table#tsk th, table#tsk tr {
  height: 50px;
}

table#tsk thead th:first-child {
  border-radius: 10px 0 0 0;
}

table#tsk thead th:last-child {
    border-radius: 0 10px 0 0;
}

table#tsk tbody tr:last-child td:first-child {
        border-radius: 0 0 0 10px;
    }
table#tsk tbody tr:last-child td:last-child {
        border-radius: 0 0 10px 0;
}
table#tsk td {
  font-weight: normal;
}

.bgline {
  content:"";
  display: block;
  position: absolute;
  margin: auto;
  z-index: 0;
  top: 0;
  bottom: 0;
  height: 100%;
  left: 50%;
  border-left: 5px solid black;
  transform: translate(-50%);
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
   position: relative;
   display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
   display: none;
   position: absolute;
   background-color: #f1f1f1;
   min-width: 160px;
   box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
   z-index: 1;
   right: -30px;
   top: 20px;
}

/* Links inside the dropdown */
.dropdown-content a {
   color: black;
   padding: 12px 16px;
   text-decoration: none;
   display: block;
}


/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}

.arrow-down {
  position: relative;
  left: 5px;
  width: 0;
  height: 0;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-top: 10px solid #b90000;
  outline: 0;
  background-repeat: repeat-y;
}

.arrow-down:hover, .arrow-down:focus {
  border-top-color: white;
}

.top-bar-shadow:hover .arrow-down {
  border-top-color: white;
}

.logo {
  display: block;
  position: relative;
  width: 10%;
  max-width: 100px;
  min-width: 50px;
  margin-left: auto;
  margin-right: auto;
  top: 8%;
  padding: 10px;
  background: white;
  border-radius: 50%;
  border: 5px black solid;
}

.add{
  width: 100px;
	padding: 10px;
	text-align: center;
	background: black;
	font-weight: bold;
	color: white;
	text-decoration: none;
	position: fixed;
	display: none;
  z-index: 100;
  left: 50%;
  right: 50%;
}

.sidenav {
  width: 0;
  max-width: 300px;
  height: 100%;
  position: fixed;
  z-index: 50;
  top: 0;
  right: 0;
  background-color: black;
  overflow-x: hidden;
  padding-top: 60px;
  transition: 0.5s;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

@media (max-width: 450px) {
  .sidenav a{
    padding: 2px 2px 2px 8px;
    text-decoration: none;
    font-size: 15px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
    background-color: transparent;
}

#main {
    transition: margin-right .5s;
}

@media screen and (max-height: 100px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}
.fc-button-group {
  width: 100px;
}
/* table#tsk thead tr {background: #0FF}
table#tsk tbody tr {background: #f1f8ff} */
